<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Obtené complementos para tu dieta que mantienen y mejoran tu salud.">
    <meta name="viewport" content="seytú, Omnilife, suplementos, dieta, maquillajes, bajar peso, detox, delineador">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'ecommerce/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'ecommerce/css/productos.css'%}">
    <link rel="icon" type="image/jpg" href="../Imagenes/logo.png">
    <title>KNIFTSTYLE</title>
    
</head>

<body>
        <!--navbar-->
        <div class="bg-nav fixed-top">
            <nav class="navbar navbar-expand-sm navbar-dark">
                <div class="container-fluid navbar-padre">
                    <nav class="navbar navbar-light">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">
                            
                                KNIFTSTYLE


                            </a>
                        </div>
                    </nav>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbar-list" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'index'%}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tienda'%}">Tienda</a>
                            </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contacto' %}">sobre nosotros</a>
                                    
                            </li>       
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crud' %}">Crud</a>
                            </li>                    
                            

                        </ul>


                    </div>
                    <a class="btn btn-navbar btn-primary" href="{% url 'login' %}" role="button">Ingresa</a>
                </div>   
            
            </nav> 


            
            <section class="contenedor">
                <!-- Contenedor de elementos -->
                <div class="contenedor-items">
                
                    <div class="item">
                        <span class="titulo-item">Zapatilla Nike </span>
                        <img src="{% static 'ecommerce/img/nike1.jpg' %}" alt="" class="img-item">
                        <span class="precio-item">$32.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">Polera Nike</span>
                        <img src="{% static 'ecommerce/img/nike4.jpg' %}" alt="" class="img-item">
                        <span class="precio-item">$38.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">Zapatilla Jordan</span>
                        <img src="{% static 'ecommerce/img/zapatonike1.jpg' %}" alt="" class="img-item">
                        <span class="precio-item">$54.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">Pantalón Levis</span>
                        <img src="{% static 'ecommerce/img/levis2.jpg' %}" alt="" class="img-item">
                        <span class="precio-item">$32.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                
                </div>
                <!-- Carrito de Compras -->
                <div class="carrito" id="carrito">
                    <div class="header-carrito">
                        <h2>Tu Carrito</h2>
                    </div>
        
                    <div class="carrito-items">
                    
                    </div>
                    <div class="carrito-total">
                        <div class="fila">
                            <strong>Tu Total</strong>
                            <span class="carrito-precio-total">
                                $120.000,00
                            </span>
                        </div>
                        <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
    
                        
            </section>            
            <!--FIN DE FORMULARIO-->
            
        </div>

    
    



  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        AOS.init();
    </script>
    <!--SweetAlert-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--JS-->
  
    <script src="{% static  'ecommerce/js/shop.js' %}"></script>
    <script src="{%  static 'ecommerce/js/validation.js'  %}"></script>
    

</body>

</html>
