<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de facturas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
 
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="">Inicio</a >
            <a class="nav-item nav-link" href="#"></a>

        </div> 
    </nav>
    
            <div class="card">
                <div class="card-header">
                    <a name="" id=""class="btn btn-success" href="{% url 'crear_factura' %}" role="button">Agregar NUEVA FACTURA</a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">FACTURAS</h4>
                   
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Nombre</th>
                                <th>Monto</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <!--no me trae el monto extraño -->
                            {% for factura in facturas %}
                            <tr>
                                <td>{{factura.id}}</td>
                                <td>{{factura.fecha}}</td>
                                <td>{{factura.nombre}}</td>
                                <td>{{factura.monto}}</td>
                                <td>  
                                  <a name="" id="" class="btn btn-info" href="{% url 'editar_factura'  factura.id %} "role="button">Editar</a>
                                  | 
                                   <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_factura'  factura.id %}"role="button">Borrar</a>

                                </td>
                            </tr>   
                            
                             {% endfor %}
                        </tbody>   
                    </table>  
                </div> 
            </div>                
                

                    
              








