<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de productos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
 
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="">Inicio</a >
            <a class="nav-item nav-link" href="#">Clientes</a>


            {% if user.is_authenticated %}
            <li>
              <!--   <a href="{% url 'logout' %}">Cerrar sesión</a>
            </li> -->
                
                <!-- Formulario para logout -->
               <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                    {% csrf_token %}
                </form>
                <a href="#" onclick="document.getElementById('logout-form').submit();">Cerrar sesión</a> !
            </li>
            <li>
                <a href="#">{{user.username}}</a>
            </li> 
            {% else %}
            
            <li>
                <a href="{% url 'login' %}">iniciar sesion</a>  
            </li>

            {% endif %}
           


        </div> 
    </nav>
    
            <div class="card">
                <div class="card-header">
                    <a name="" id=""class="btn btn-success" href="{% url 'crear_cliente' %}" role="button">Agregar nuevo cliente</a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Clientes</h4>
                   
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Dirección</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <!--esto puede estar mal el for cliente in clientes-->
                            {% for cliente in clientes %}
                            <tr>
                                <td>{{cliente.id}}</td>
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.apellido}}</td>
                                <td>{{cliente.direccion}}</td>
                                <td>  
                                  <a name="" id="" class="btn btn-info" href="{% url 'editar_clientes'  cliente.id %} "role="button">Editar</a>
                                  | 
                                   <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_clientes'  cliente.id %}"role="button">Borrar</a>

                                </td>
                            </tr>   
                            
                             {% endfor %}
                        </tbody>   
                    </table>  
                </div> 
            </div>                
                

                    
              








