<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <title>Lista de productos</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'index'%}">Inicio</a >
            <a class="nav-item nav-link" href="#">Productos</a>
            
            
            {% if user.is_authenticated %}
            
            <!-- <li>
                <a href="{% url 'logout' %}">Cerrar sesión</a>
            </li> -->
                
                <!-- Formulario para logout -->
               <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                    {% csrf_token %}
                </form>
                <a href="#" onclick="document.getElementById('logout-form').submit();">Cerrar sesión</a> |
            </li>
            <li>
                <a href="#">@{{user.username}}</a>
            </li> 
            {% else %}
            
            <li>
                <a href="{% url 'login' %}">iniciar sesion</a>  
            </li>

            {% endif %}
           
        </div>
    </nav>

   
    <div class="card">
        <div class="card-header"></div>
         <a name="" id=""class="btn btn-success" href="{% url 'crear'%}" role="button">Agregar nuevo producto</a>
         
            
        <div class="card-body">
            <h4 class="card-title">productos</h4>
        
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Marca</th>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for producto in productos %}
                    <tr>
                        <td>{{producto.id}}</td>
                        <td>{{producto.marca}}</td>
                        <td>
                         <img src="{{producto.imagen.url}}" height="100" />

                            


                        </td>
                        <td>{{producto.descripción}}</td>
                        <td> 
                            <a name="" id=""class="btn btn-info" href="{% url 'editar' producto.id%}" role="button">Editar</a>
                            |
                            <a name="" id=""class="btn btn-danger" href="{% url 'eliminar' producto.id%}" role="button">Borrar</a> 
                        </td>
                    </tr>
                    {% endfor %}


                <tbody>
            </table>
        </div>
        
    </div>
    




    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

</body>
</html>