<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de marcas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="#">Inicio</a>
            <a class="nav-item nav-link" href="#">Otro enlace</a>
        </div>
    </nav>
    
    <div class="card">
        <div class="card-header">
            <a class="btn btn-success" href="{% url 'crear_marca' %}" role="button">Agregar nueva marca</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">MARCAS</h4>
           
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Marca</th>
                        <th>Categoría</th>
                        <th>Precio</th>
                  
                    </tr>
                </thead>
                <tbody>
                    {% for marca in marcas %}
                    <tr>
                        <td>{{ marca.id }}</td>
                        <td>{{ marca.marca }}</td>
                        <td>{{ marca.categoria }}</td>
                        <td>{{ marca.precio }}</td>
                        <td> 
                            
                            <img src="{{marca.imagen.url}}" height="80" />
                        <td>
                           

                            <a class="btn btn-info" href="{% url 'editar_marca' marca.id %}" role="button">Editar</a>
                            <a class="btn btn-danger" href="{% url 'eliminar_marca' marca.id %}" role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>
